*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}
h1 {
    margin-bottom: 30px;
    color: #333;
}
.inputs-wrapper{
    margin-bottom: 20px;
}
input{
    height: 40px;
    width: 70%;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    height: 40px;
    width: 25%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.outputs-wrapper{
    display: flex;
    justify-content: space-around;
}
.outputs-wrapper div{
    width: 30%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
span{
    font-size: 30px;
    font-weight: 500;
}
p{
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
